.workContainer{
	height: auto;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Lato';
	@include for-phone-only{
		height: auto;
	}
	@include for-phone-only2{
		height: auto;
	}
	@include for-tablet-portrait-up{
		height: auto;
	}
}

.workContainer .container{
	height: auto;
	width: 100%;
	@include for-phone-only{
		height: auto;
	}
	@include for-phone-only2{
		height: auto;
	}
	@include for-tablet-portrait-up{
		height: auto;
	}
}

.workContainer .row{
	margin: 0;
	padding: 0;
}

.workRow1{
	height: 30vh;
	width: 100%;
	@include for-phone-only{
		height: 25vh;
	}
	@include for-phone-only2{
		height: 25vh;
	}
	@include for-tablet-portrait-up{
		height: 20vh;
	}
}

.workRow1 h2{
	font-family: 'Montserrat';
	font-weight: 500;
	color: rgba(179, 111, 54, 0.8);
	font-size: 1.4em;
}

.workRow1 h1{
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 1.8em;
	margin-top: -0.4em;
}

.workRow1Border{
	height: 1vh;
	width: 100%;
}

.workRow1Border:before {
  content : "";
  position: absolute;
  width   : 5%;  /* or 100px */
  border-top: 1.5px solid black;
}



.workRow2{
	height: 60vh;
	width: 100%;
	margin-left: 2% !important;
	margin-right: 2% !important;
	@include for-phone-only{
		height: auto;
	}
	@include for-phone-only2{
		height: auto;
	}
	@include for-tablet-portrait-up{
		height: auto;
	}
}

// .workRow2 .col-lg-4{
// 	padding: 0;
// 	margin: 0;
// }

// .workRow2 .col-lg-8{
// 	padding: 0;
// 	margin: 0;
// }

.workCol{
	height: auto;
	width:100%;
	padding: 15px;
}

.work1{
	width: 100%;
	height: 100%;
	background-image: url(/images/woofneat_bg.jpg);
	display: block;
	overflow: hidden;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.work2{
	width: 100%;
	height: 100%;
	background-image: url(/images/beer_img1.jpg);
	display: block;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.work3{
	width: 100%;
	height: 100%;
	background-image: url(/images/galaxy_bg.jpg);
	display: block;
	overflow: hidden;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}





.workRow3{
	height: auto;
	width: 100%;
	margin-left: 2% !important;
	margin-right: 2% !important;
	@include for-phone-only{
		height: auto;
	}
	@include for-phone-only2{
		height: auto;
	}
}

.workRow3 .col-lg-4{
	padding: 0;
	margin: 0;
}

.work4{
	width: 100%;
	height: 100%;
	background-image: url(/images/odonto_img1.jpg);
	display: block;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.work5{
	width: 100%;
	height: 100%;
	background-image: url(/images/drop_img1.jpg);
	display: block;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.work6{
	width: 100%;
	height: 100%;
	background-image: url(/images/organ_img1.jpg);
	display: block;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}





.workTitleBorder{
	width: 100%;
}

.workTitleBorder:before {
  content : "";
  position: absolute;
  width   : 80%;
  border-top: 1.5px solid black;
}

.workBtn{
	visibility: hidden;
	height:auto;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}

.show{
	visibility: visible;
}

.workBtn h3{
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 1.3em;
}

.workBtn p{
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 1em;
}

.modalBtn{
	border: 1px solid black;
}

.modalBtn:hover, .modalBtn:focus{
	color: white !important;
}